
{embed="Includes/.Source"}

	</head>
	
	<body>
	
	{embed="Includes/.Header"}
	
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
				
				<h1>Heading 1</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat <em>porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi</em> porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
				<h2>Heading 2</h2>
				<p>
					Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
				<ul>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
				</ul>
				
				<blockquote>
					This is a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
				</blockquote> 
				
				<a href="" class="button">Button label</a>
				
				<h3>Heading 3</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
				<labal>Form Label</label>
				<input type="text">
				<labal>Form Label</label>
				<textarea></textarea>
				<input type="submit" value="Form Submit Button">
				
				<h4>Heading 4</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
				<ol>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
					<li>List item goes here.</li>
				</ol>
				
				<h5>Heading 5</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
				<h6>Heading 6</h6>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
				</p>
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			</div>
			
		</div>
	
	
		
	{embed="Includes/.Footer"}
	
		
	</body>
</html>